{% extends 'AppBundle::base.html.twig' %}

{% block title %}Log Integration - {{ parent() }}{% endblock %}

{% block body %}
<link rel="stylesheet" href="/css/LogIntegrate/main.css">
<script src="/js/LogIntegrate/file_upload.js"></script>

<div class="container_title">
    <h1><i class="fa fa-tachometer" aria-hidden="true"></i>Log Integration Tool</h1>
</div>

<div class="container_upload">
	<div id="file_drag_drop_handler">Please Upload file here or Click <span id="file_click_handler"><i class="fa fa-file-text-o" aria-hidden="true"></i>here</span></div>
	<input type="file" name="file" id="input_file" style="display: none;">
</div>

<div class="container_select_file_type">
	<p>Select File Information</p>
	<p>Firmware : 
		<select name="upload_firmware">
		<option value="545">5.4.5</option>
		</select>
	</p>
	<p>File Type : 
		<select name="upload_file">
		<option value="event">Event Log</option>
		</select>
	</p>
	<p>
		<span id="select_file_type_submit" class="select_file_type_btn">Submit</span>
		<span id="select_file_type_cancel" class="select_file_type_btn">Cancel</span>
	</p>
</div>
<div id="container_modal_overlay"></div>


<div class="container_result hide">
	<h2>Result</h2>

	<div class="container_operate_tools">
<!-- 
		<p><input type="checkbox" name="cbfilter_1" id="cbfilter_1" value="1" class="cbfilter cbfilter_1" checked="checked"><label for="cbfilter_1">cbfilter_1</label></p>
		<p><input type="checkbox" name="cbfilter_2" id="cbfilter_2" value="1" class="cbfilter cbfilter_2" checked="checked"><label for="cbfilter_2">cbfilter_2</label></p>

 -->
 	</div>

	<p><a href="/logIntegrate/view/table/{{ id }}" id="link_table_view" class="link_btn" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Go to Table View</a></p>
	<p><a href="/logIntegrate/view/timeline/{{ id }}" id="link_timeline_view" class="link_btn" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i>Go to Timeline View</a></p>

</div>


<div class="all_loading hide"></div>

<div class="hide_data hide">
	<div id="id">{{ id }}</div>
</div>

{% endblock %}
