{% extends 'AppBundle::base.html.twig' %}

{% block title %}Log Integration - Table View{% endblock %}

{% block body %}
<link rel="stylesheet" href="/css/LogIntegrate/main.css">
<script src="/js/LogIntegrate/file_upload.js"></script>

<div class="container_title">
    <h1><i class="fa fa-tachometer" aria-hidden="true"></i>Log Integration Tool</h1>
</div>

<div class="container_result">

	<div class="container_operate_tools">
   	{% for filter_btn in result_html_filter_btn %}
	   	{{ filter_btn | raw}}
   	{% endfor %}
 	</div>

    <table class="table table-hover table-bordered">
        <caption style="caption-side: top">Table View</caption>
        <thead>
            <tr class="bg-primary">
                <th>Date</th>
                <th>Msg</th>
                <th>All</th>
            </tr>
        </thead>
        <tbody>
       	{% for log in result_log_array %}
        	<tr>{{ log | raw }}</tr>
       	{% endfor %}
        </tbody>
    </table>


</div>

<div class="all_loading hide"></div>

<div class="hide_data hide">
	<div id="id">{{ id }}</div>
</div>


{% endblock %}
