$bkcolor_1 : #66FF66; // 緑
$bkcolor_1_opacity : rgba(102, 255, 102, 0.3);
$bkcolor_2 : #FF77FF; // ピンク
$bkcolor_2_opacity : rgba(255, 119, 255, 0.3);


.container_title,
.container_upload,
.container_result {
    padding: 8px 4px 4px 8px;
    margin: 8px 8px 0 8px;   
}

.container_title {
	> h1 {
	    font-size: 1.5em;
	    background-color: #0275d8;
	    color: white;
	    padding: 12px 24px;
	    margin: 8px 0;
	    width: 300px;

	    > i {
	    	padding: 0 12px 0 0;
	    }
	}
}

.container_upload {
	
	> div {

		> span {
			background-color: #0275d8;
		    color: white;
		    padding: 4px 8px;
		    border-radius: 4px;
		    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
			
			> i {
				padding: 0 4px 0 0;
			}
		}
	}

}


#file_drag_drop_handler {
	border: 2px dashed #0275d8;
	width: 500px;
	color: #92AAB0;
	text-align: left;
	vertical-align: middle;
	padding: 40px;
	margin-bottom: 40px;
	font-size: 1.5em;
}

.container_result {
	> h2 {
		border-left: 8px solid #0275d8;
	    border-bottom: 4px solid #0275d8;
    	padding: 8px 0 8px 8px;
    	font-size: 1.5em;
	}

	.link_btn {
		background-color: #0275d8;
	    color: white;
	    padding: 4px 8px;
	    border-radius: 4px;
	    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
	    margin: 4px;
    	display: inline-block;
		
		&:hover {
			opacity: 0.8;
		}

		i {
			padding: 0 8px 0 0;
		}
	}
}



.container_select_file_type {
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -200px;
    padding: 16px;
    width: 300px;
    height: 200px;
    text-align: center;
    display: none;
    background: #fff;
    border: 1px solid black;
    position: absolute;
    z-index: 10;

	> p {
		margin: 8px;
	}

	> p:first-child {
		border-bottom: 1px solid #0275d8;
	}

    .select_file_type_btn {
   	    background-color: #0275d8;
	    color: white;
	    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px;
	    padding: 6px;
	    margin: 0 8px;
	    border-radius: 4px;

		&:hover {
			opacity: 0.8;
		}
    }
}

#container_modal_overlay{
	z-index: 1;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(0,0,0,0.75);
}


.container_operate_tools {
	padding: 16px;

	.cbfilter + label {
		margin: 4px 8px;
		padding: 4px 8px;
		border: 1px solid gray;
		border-radius: 4px;
		color: white;
		cursor: pointer;
		opacity: 0.5;
	}

	.cbfilter:checked + label {
		opacity: 1;
	}

	.cbfilter_1 + label {
		background-color: $bkcolor_1;
	}
	.cbfilter_2 + label {
		background-color: $bkcolor_2;
	}


}





