$bkcolor_1 : #66FF66; // 緑
$bkcolor_1_opacity : rgba(102, 255, 102, 0.3);
$bkcolor_2 : #FF77FF; // ピンク
$bkcolor_2_opacity : rgba(255, 119, 255, 0.3);
$bkcolor_3 : #0000FF; // 青
$bkcolor_3_opacity : rgba(0, 0, 255, 0.3);
$bkcolor_4 : #808080; // グレイ
$bkcolor_4_opacity : rgba(128, 128, 128, 0.3);
$bkcolor_5 : #800000; // 茶
$bkcolor_5_opacity : rgba(128, 0, 0, 0.3);


@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


.container_title {
    height: 40px;

	> h1 {
		float: left;
	}

	ul {
		float: right;
		font-size: 0px;
	}

	li {
		background-color: #0275d8;
		border: 1px solid white;
		color: white;
		font-size: 12px;
		text-align: center;
		display: inline-block;
		padding: 8px 16px;
		margin-top: 16px;
		width: 160px;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}

		> i {
		    padding-right: 4px;
		}
	}
	
	.columns_filter_menu {
		position: relative;
	}

	.columns_filter_types {
		position: absolute;

		.columns_filter_type {
			display: block;
			margin: 0px;
		    border-radius: 4px;
		}
	}


}

.container_columns_filter_window {
    top: 320px;
    left: 50%;
    max-width: 400px;
    margin: -150px 0 0 -200px;
    padding: 16px;
    text-align: center;
    display: none;
    background: #fff;
    border: 1px solid black;
    position: absolute;
    z-index: 10;

	> div > div {
		font-size: 1.5em;
	    border-bottom: 2px solid #0275d8;
	    margin-bottom: 16px;
	}

    .column_filter {
		text-align: left;
	    display: inline-block;
	    float: left;
	    width: 120px;
    }

    .select_file_type_btn {
   	    background-color: #0275d8;
	    color: white;
	    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px;
	    padding: 6px;
	    margin: 0 8px;
	    border-radius: 4px;

		&:hover {
			opacity: 0.8;
		}
    }

}

.container_time_filter_window {
    top: 320px;
    left: 50%;
    width: 400px;
    margin: -150px 0 0 -200px;
    padding: 16px;
    text-align: center;
    display: none;
    background: #fff;
    border: 1px solid black;
    position: absolute;
    z-index: 10;

	.control-label {
		float: left;
		font-weight: bold;
	}

    .select_file_type_btn {
   	    background-color: #0275d8;
	    color: white;
	    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px;
	    padding: 6px;
	    margin: 0 8px;
	    border-radius: 4px;

		&:hover {
			opacity: 0.8;
		}
    }

    #datetimepicker_start,
    #datetimepicker_end {
    	@import "bootstrap_337";

    	> span > .fa-calendar {
			margin: -5px;
    	}
    }

}




.strings_include_filter_subject {
	float: left;
	padding: 10px 8px 0 0;
}
.strings_exclude_filter_subject {
	float: left;
	padding: 10px 6px 0 0;
}


.container_strings_include_filter,
.container_strings_exclude_filter {
	float: left;
	border: 1px solid gray;
    padding: 8px;
    min-width: 50%;
	max-width: 80%;

	.input_string {
		background-color: #e1e3e6;
		border: 1px solid lightgray;
   		border-radius: 2px;
		float: left;
	    padding: 0 8px;
   		margin: 1px 4px;

   		.input_string_text {
		    height: 16px;
		    max-width: 90px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: inline-block;
    	}
	}

	.input_string_remove {
	    border-left: 1px solid lightgray;
  		border-radius: 2px;
    	margin: 0 0 0 4px;
    	padding: 0 2px 0 4px;

    	&:hover {
   			opacity: 0.5;
    		color: red;
    		cursor: pointer;
    	}
	}

}




.container_result {
	table {
		font-size: 10px;
		word-wrap: break-word;

		td:not(:last-child):not(:first-child) {
			min-width: 100px;
			max-width: 300px;
		}

		td:nth-of-type(1) {
			width: 90px;
		}

		td:last-of-type {
			width: 40px;
		}

		.cbfilter_1 {
			background-color: $bkcolor_1_opacity;
		}
		.cbfilter_2 {
			background-color: $bkcolor_2_opacity;
		}
		.cbfilter_3 {
			background-color: $bkcolor_3_opacity;
		}
		.cbfilter_4 {
			background-color: $bkcolor_4_opacity;
		}
		.cbfilter_5 {
			background-color: $bkcolor_5_opacity;
		}
		
		.target-allinfo {
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}

			> i {
				font-size: 16px;
			}
		}

		.column_allinfo {
			background-color: white;
		    animation: fadeIn 0.5s ease 0s 1 normal;
    		-webkit-animation: fadeIn 0.5s ease 0s 1 normal;

		}

		.include_hide,
		.exclude_hide,
		.time_hide {
			display: none;
		}

	}
}


/* ページトップへ戻るボタン用 */
#page-top {
	a {
		padding: 10px 0;
	}
}

.page_top_bottom {
    position: fixed;
    right: 20px;
    font-size: 77%;
    opacity: 0.8;

    a {
	    background: #666;
	    text-decoration: none;
	    color: #fff;
	    width: 100px;
	    padding: 10px 0;
	    text-align: center;
	    display: block;
	    border-radius: 5px;

	    &:hover {
		    text-decoration: none;
		    background: #999;
	    }
    }
}




