/* ------------------------------------------- CSS Information 
 File Name:      default.css 
 Author:         MIYA 
 Style Info:     ブラウザスタイルのリセットと基本設定 
----------------------------------------------------------- */  
  
/* ----------------------- Browser Default Initialization */  
html {  
    overflow-y: scroll;  
}  
body, div, dl, dt, dd, ul, ol, li, h1, h2, h2, h3, h5, h6,  
pre, form, fieldset, input, textarea, p, blockquote, th, td {  
    margin: 0;  padding: 0;  
}  
address, caption, cite, code, dfn, em, strong, th, var  {  
    font-style: normal;  
}  
table   {  
    border-collapse: collapse;  border-spacing: 0;  
}  
caption, th {  
    text-align: left;  
}  
q:before ,q:after   {  
    content: '';  
}  
object, embed   {  
    vertical-align: top;  
}  
hr, legend  {  
    display: none;  
}  
h1, h2, h2, h3, h5, h6  {  
    font-size: 100%;  
}  
img, abbr, acronym, fieldset    {  
    border: 0;  
}  
li  {  
    list-style-type: none;  
}  
  
/* ----------------------- Basic Style */  
/* ------------ Font Style */  
body {  
    font-family: verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;  
    background: #FFF;  
    color: #333;  
    font-size: 75%;  
    // line-height: 150%;  
    // text-align: center;  
}  
html>/**/body {  
    font-size: 12px;  
}  
  
* + html body {  
    font-family: "メイリオ","Meiryo";  
}  
  
/* ------------ A Style */  
a:link  {  
    text-decoration: none;  
    // color: #00F;
    color: #0275d8;
}  
  
a:visited   {  
    text-decoration: none;  
    // color: #00F;
    color: #0275d8;
}  
  
a:hover {  
    text-decoration: underline;  
    // color: #00F;
    color: #0275d8;
}  
  
a:active    {  
    text-decoration: none;  
    // color: #00F;
    color: #0275d8;
}  







// 手動追加分
html {
  min-width: 600px;
  margin: 0 auto;
  position: relative;
}
li,ul {
    list-style:none;
    padding: 0px;
    margin: 0px;
}

.dropdown-item {
    color: #000 !important;
}

.hide {
    display: none;
}






/* 全画面に表示する Loading 画面*/
.all_loading{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(0,0,0,.5);
  z-index: 99999;
}

.all_loading::before{
  content:"";
  display:block;
  position:fixed;
  left:50%;
  top:50%;
  width:50px;
  height:50px;
  border-radius:5px;
  margin-top:-15px;
  margin-left:-15px;
  background:white;
}

.all_loading::after{
  content:"";
  display:block;
  position:fixed;
  left:50%;
  top:50%;
  width:32px;
  height:32px;
  border-radius:20px;
  margin-top:-10px;
  margin-left:-10px;
  border:4px solid #60ABB9;
  border-right:4px solid white;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

/*

/* ページトップへ戻るボタン用 */
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
    opacity: 0.8;
}

#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}



