{% extends 'AppBundle::base.html.twig' %}

{% block title %}Pcap Convert - {{ parent() }}{% endblock %}

{% block body %}
<link rel="stylesheet" href="/css/PcapConvert/main.css">
<script src="/js/PcapConvert/main.js"></script>

<div class="container_title">
    <h1><i class="fa fa-tachometer" aria-hidden="true"></i>Pcap Convert</h1>
</div>

<div class="container_upload">
	<div id="file_drag_drop_handler">Please Upload file here or Click <span id="file_click_handler"><i class="fa fa-file-text-o" aria-hidden="true"></i>here</span></div>
	<input type="file" name="file" id="input_file" style="display: none;">
</div>

<div class="container_history">
	<h2>History File ({{ file_num }})</h2>
	{% for file in files_array %}
	<p><i class="fa fa-file-o" aria-hidden="true"></i><a href="/image/pcapConvert/pcap/{{ file }}">{{ file }}</a></p>
	{% endfor %}
</div>

{% endblock %}
